* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
html {
	height: 100%;
}
body {
	min-height: 100%;
	height: 100%;
	font-size: 14px;
	font-family: @sansFonts;
	color: @darkGrey;
}
div[ng-view] {
	width: 100%;
	height: 100%;
}
h1 {
	font-size: 2.5em;
	margin: 0 0 15px;
	color: @betaGreen;
}
h2 {
	font-size: 2.0em;
	margin: 0 0 12px;
	color: @betaBlue;
}
h3 {
	font-size: 1.5em;
	margin: 0 0 10px;
	color: @grey;

	&.clickable {
		cursor: pointer;
		.transition();

		&:hover {
			color: @betaOrange;
		}
	}
}
ul {
	list-style: none;
}
p {
	font-size: 1.0em;
	margin: 10px 0;
}

a {
	text-decoration: none;
	color: inherit;
	cursor: pointer;
}

input[type='text'],
input[type='email'],
input[type='password'],
input[type='number'],
textarea,
select {
	border: 1px solid @lightGrey;
	padding: 5px 10px 4px;
	border-radius: 5px;
	color: @darkGrey;

	.transition();

	&:focus {
		border-color: @betaGreen;
		outline: none;
	}
}
select {
	min-width: 120px;
}
button {
	background: none;
	border: none;

	display: inline-block;
	background-color: @betaLightGreen;
	padding: 6px 10px 5px;
	margin: 0 10px;
	text-align: center;
	color: @offWhite;
	font-weight: 700;

	.transition();

	&:hover {
		color: @white;
		background-color: @betaGreen;
	}
	&.disabled,
	&[disabled] {
		cursor: default;
		background-color: @lightGrey;

		&:hover {
			background-color: @lightGrey;
		}
	}
}
nav.menuBar {
	position: relative;
	z-index: 2;
	width: 100%;
	padding: 0 20px;
	text-align: left;
	box-shadow: 0 0 15px -2px @grey;
	background-color: @betaDarkBlue;
	color: @white;

	.leftList,
	.rightList {
		display: inline-block;

		a {
			display: inline-block;
			padding: 10px 15px 8px;
			text-align: center;

			.transition();

			&:hover,
			&.active {
				background-color: @betaBlue;
			}
			&.green {
				background-color: @betaLightGreen;

				&:hover {
					background-color: @betaGreen;
				}
			}
		}
	}
	.rightList {
		float: right;
	}
}