
// COLORS
//=================

@black:				#000;
@darkGrey:			#444;
@grey:				#777;
@lightGrey:			#AAA;
@lighterGrey:		#DDD;
@offWhite:			#EEE;
@white:				#FFF;


// TYPOGROPHY
//=================

@sansFonts:			arial, sans-serif;


