.titleSection {
	width: 100%;
	padding: 100px 0;

	.logoHolder {
		width: 100%;
		max-width: 700px;
		margin: 0 auto 100px;
		text-align: center;

		.logoImg {
			display: inline-block;
		}
	}
	.searchForm {
		width: 100%;
		max-width: 700px;
		margin: 0 auto 100px;
		text-align: center;

		input {
			width: 70%;
			margin: 0 10px 0 0;
		}
		button {
			width: 80px;
		}
	}
}
nav.menuBar {
	position: relative;
	z-index: 2;
	width: 100%;
	padding: 0 20px;
	text-align: left;
	box-shadow: 0 0 15px -2px @lightGrey;
	background-color: @betaDarkBlue;
	color: @white;

	.leftList,
	.rightList {
		display: inline-block;

		a {
			display: inline-block;
			padding: 10px 15px 8px;
			text-align: center;

			.transition();

			&:hover {
				background-color: @betaBlue;
			}
		}
	}
	.rightList {
		float: right;
	}
}
#about {
	.row {
		width: 100%;
	}
	.shortHalf,
	.longHalf {
		display: inline-block;
	}
	.shortHalf {
		width: 39%;

		img {
			min-width: 100%;
			min-height: 100%;
		}
	}
	.longHalf {
		width: 60%;
		padding: 50px 70px;
	}
}