.titleSection {
	width: 100%;
	padding: 100px 0;

	.logoHolder {
		width: 100%;
		max-width: 700px;
		margin: 0 auto 100px;
		text-align: center;

		.logoImg {
			display: inline-block;
		}
	}
	.searchForm {
		width: 100%;
		max-width: 700px;
		margin: 0 auto 100px;
		text-align: center;

		input {
			width: 70%;
			margin: 0 10px 0 0;
		}
		button {
			width: 80px;
		}
	}
}
#about {
	.row {
		width: 100%;
	}
	.shortHalf,
	.longHalf {
		display: inline-block;
	}
	.shortHalf {
		width: 39%;

		img {
			min-width: 100%;
			min-height: 100%;
		}
	}
	.longHalf {
		width: 60%;
		padding: 50px 70px;
	}
}