<div class="uploadView">
	<div class="wrapper">
		<div class="closeLink" ng-click="showUpload=false">
			<i class="fa fa-times"></i>
		</div>

		<h2>Add Your Climb</h2>
		<p>Please double-check that the climb does not already exist. Once the route is created, only SpotBeta can remove or re-classify the route, so make sure the information is accurate.</p>

		<form name="uploadForm" novalidate>
			<label for="climbName">
				<span class="label">Climb name</span>
				<input type="text" ng-model="newClimb.climbName" name="climbName" required>

				<!-- <span class="message" ng-show="uploadForm.climbName.$touched">This was touched</span>
				<span class="message" ng-show="uploadForm.climbName.$valid">This is valid</span>
				<span class="message error" ng-show="uploadForm.climbName.$invalid">This is NOT valid</span> -->
				<span class="message error" ng-show="uploadForm.climbName.$error.required && uploadForm.climbName.$touched">A name is required</span>
			</label>

			<label for="climbGrade">
				<span class="label">Grade</span>
				<input type="text" ng-model="newClimb.climbGrade" name="climbGrade" required>
				<span class="message error" ng-show="uploadForm.climbGrade.$error.required && uploadForm.climbGrade.$touched">The grade is required</span>
			</label>

			<label for="climbType">
				<span class="label">Type</span>
				<select ng-model="newClimb.climbType" name="climbType" required>
					<option value="boulder">Boulder</option>
					<option value="roped">Roped</option>
				</select>
				<span class="message error" ng-show="uploadForm.climbType.$error.required && uploadForm.climbType.$touched">The climb's type is required</span>
				<span>Note: If a route has bolts but still requires gear placement, please use the Trad option</span>
			</label>

			<label for="climbSubtype" ng-show=" newClimb.climbType=='roped' ">
				<span class="label">Sub-type</span>
				<select ng-model="newClimb.climbSubtype" name="climbSubtype" required>
					<option value="topRope">Top Rope</option>
					<option value="sport">Sport</option>
					<option value="trad">Trad</option>
				</select>
				<span class="message error" ng-show="uploadForm.climbSubtype.$error.required && uploadForm.climbSubtype.$touched">A sub-type is required for roped climbs</span>
			</label>

			<label for="climbHeight">
				<span class="label">Height (in feet)</span>
				<input type="number" ng-model="newClimb.climbHeight" name="climbHeight" required>

				<!-- <span class="message" ng-show="uploadForm.climbHeight.$touched">This was touched</span>
				<span class="message" ng-show="uploadForm.climbHeight.$valid">This is valid</span>
				<span class="message error" ng-show="uploadForm.climbHeight.$invalid">This is NOT valid</span> -->
				<span class="message error" ng-show="uploadForm.climbHeight.$error.number">Please enter an integer</span>
				<span class="message error" ng-show="uploadForm.climbHeight.$error.required && uploadForm.climbHeight.$touched">A height value is required</span>
			</label>

			<label for="climbRating">
				<span class="label">Rating (star rating)</span>
				<select ng-model="newClimb.climbRating" name="climbRating" required>
					<option value="1">1</option>
					<option value="2">2</option>
					<option value="3">3</option>
					<option value="4">4</option>
					<option value="5">5</option>
				</select>
				<span class="message error" ng-show="uploadForm.climbRating.$error.required && uploadForm.climbRating.$touched">A rating is required</span>
			</label>

			<label for="climbDescription">
				<span class="label">Description</span>
				<textarea ng-model="climbDescription" name="climbDescription" required></textarea>
				<span class="message error" ng-show="uploadForm.climbDescription.$error.required && uploadForm.climbDescription.$touched">A description is required</span>
				<span>Please include details about the climb, such as features, direction, hold locations, bolts, gear placement, anything to be avoided, and  and  and if the location is new, anything notable about the approach. And especially anything that is a safety concern.</span>
			</label>

			<div class="setLocationContainer">
				<span class="label">Climb location</span>
				<label for="climbLocation">
					Use Existing Location
					<select ng-options="spot.name for (key, spot) in climbData" ng-model="newClimb.climbLocation" name="climbLocation"></select>
				</label>

				<button ng-click="toggleNewLocationMap()">Create new location</button>
				<div ng-show="viewNewLocMap">
					<!-- Show map with an input field for lat/lng -->
				</div>
			</div>

			<button type="submit" ng-click="createNewClimb(uploadForm)" ng-disabled="uploadForm.$invalid">See Preview</button>
			<p>After confirming the preview, you will be able to post the climb.</p>

		</form>

		<div class="uploadPreview" ng-show="showPreview">

		</div>
	</div>
</div>











