
<div class="formGroup">
	<label for="newLat">
		New Latitude
		<input type="number" name="newSpotLat" id="newLat" ng-model="newClimb.newLocation.latitude" ng-keyup="manualCoordUpdate()">
	</label>
	<label for="newLong">
		New Longitude
		<input type="number" name="newSpotLong" id="newLong" ng-model="newClimb.newLocation.longitude">
	</label>

	<div class="locationMapControls">
		<button type="button" ng-click="toggleMarkerLock()">
			<span ng-show="!markerLocked">Lock marker to window</span>
			<span ng-show="markerLocked">Unlock marker from window</span>
		</button>
		<button type="button" ng-click="centerMarker()">Center marker</button>
	</div>

	<div id="locationMapCanvas"></div>

</div>